<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      background-color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary " @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex xs10 class="elevated white pa-4 align-end" error>
        <v-layout v-for="message in messages" :key="message.timestamp" row>
          <v-flex xs12>
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label
            >
              {{ message.text }}
            </v-chip>
            <!-- v-chip below checking for foreign uuids! -->
            <v-chip
              v-if="message.uuid !== uuid"
              text-color="success"
              outlined
              color="primary"
              class="float-left"
              label
            >
              <!-- If the uuid is foreign, render the username of that message object -->
              {{ message.text }} - {{ message.userName }}
            </v-chip>
          </v-flex>
        </v-layout>
        <v-text-field
          label="New Message"
          background-color="secondary"
          v-model="currentMessage"
          class="mt-12"
        >
        </v-text-field>
        <v-col cols="5" sm="6" md="4">
          <v-text-field
            background-color="secondary"
            dense
            label="Enter your name here!"
            v-model="userName"
          ></v-text-field>
        </v-col>
        <v-btn
          @click="sendMessage(currentMessage)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage)"
        >
          Send
        </v-btn>
      </v-flex>
    </v-container>
  </v-layout>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import * as axios from 'axios';

export default {
  data: () => ({
    snackbar: false,
    currentMessage: '',
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: '',
    userName: '',
    uuid: '',
    backendHealthy: false,
  }),

  created() {
    this.uuid = uuidv4();

    this.checkBackend();

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data);
      data.timestamp = Date.now();
      this.messages.push(data);
    };

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server');
    };
  },

  methods: {
    sendMessage: function(text) {
      const message = JSON.stringify({
        text,
        userName: this.userName,
        uuid: this.uuid,
      });
      this.$socket.send(message);
    },
    checkBackend: function() {
      axios
        .get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            //res.data.ok is NOT expecting OK like the golang Struct initially defined
            // Here we are testing our connection with the backend server
            // We keep testing the connection every 10 seconds
            console.log('backend is healthy');
            this.backendHealthy = true;
            return;
          } else {
            console.log(
              `backend check failed, response code was ${res.status}, data was ${res.data}`
            );
            setTimeout(() => this.checkBackend(), 10000);
          }
        })
        .catch((err) => {
          console.log(err);
          console.log('backend not healthy yet, retrying');
          setTimeout(() => this.checkBackend(), 10000);
        });
    },
  },
};
</script>
