<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.upchieve.org/docs/logo.svg"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>
      <v-btn icon v-on:click="toggleDark">
        <v-icon>mdi-theme-light-dark</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main class="secondary">
      <Chat />
    </v-main>
  </v-app>
</template>

<script>
import Chat from './components/Chat';

export default {
  name: 'App',

  components: {
    Chat,
  },

  data: () => ({
    //
  }),
  methods: {
    toggleDark: function() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
  },
};
</script>
